/*------ My CSS for Check-out (Order)-------------*/

/* ---------------------------------------- Mobile */
@media screen and (max-width: 480px) { 
	.img-mobile  {width: 4em; }
	.font-mobile {font-size:0.8em;}
}
 
.my-border {border: 1px solid black; }